// variables
$colorPimario: rgb(35,196,194);
$letraPrincipal: 'Permanent Marker', cursive;
$colorLetra: white;
$grid:grid;
$tituloMain: 'Zen Kurenaido', sans-serif;

*{
	margin:0;
	padding: 0;
	// box-sizing: border-box;
}

.barraDer{
    height: auto;
    text-align: right;
    letter-spacing: 1px;
}

.marca{
	font-family: $letraPrincipal;
	font-size: 20px;
	font-weight: bold; 
	color:$colorLetra;
	// text-decoration: none;
	overflow-y: hidden;
}

header a {
    text-decoration: none;
}

#imagenMarca{
    margin-left: 3em;
}

.marcaLogo{
    justify-content: center;
}

.encabezado, .barraNavegacion, .piePagina{
	// box-sizing: border-box; 
	background: $colorPimario;
    overflow-y: hidden;
}

.encabezado{
	width: 100%;
    padding: 10px 0px 10px 10px;
    text-align: left;
    height: 72px;
}

.barraNavegacion{
    height: 60px;
    padding-top: 2em;
}

nav {
	list-style-type:none;
	text-align:center;
	text-transform: uppercase;
	font-family: $letraPrincipal;
} 

nav li {
    float: left;
}

nav ul li{ 
	display: inline-block;
	padding-left: 10px; 
	font-weight: bold; 
	letter-spacing: 1px; 
	text-decoration: none;
	list-style-type: none;
	// box-sizing: border-box;
} 

nav ul li a {
	text-decoration: none;
	color: white; 
}

nav ul li a:hover {
	color: #0771db; 
}

.socialMedia{
    margin-top: 1em;
    margin-bottom: 8px;
}

.follow{
    text-align: center;
    // margin-bottom: 5em;
    width: 142px;
    height: 33px;
}

.tituloContenido{
	// padding: 5px;
	font-family: $tituloMain;
	text-align: center;
	font-style: italic;
    overflow-y: hidden;
}

.promo, .promo1, .promo2, .promo3{
    font-family: 'Zen Kurenaido', sans-serif;
	// box-sizing: border-box;
}

.fotoProv{
    // padding-left: 5em;
    overflow-y: hidden;
    padding-left: 3em;
}

.prov1{
    padding-bottom: 2em;
}

.parrafo{
    padding-top: 10px;
}

.textoPromo, .textoPromo2{
	display: flex;
	justify-content: center;	
	padding: 10px;
	box-sizing: border-box;
	width: 250px;
}

.textoPromo1, .textoPromo3{
	display: flex;
	justify-content: center;	
	padding-left: 50px;
	padding-top: 10px;
	// box-sizing: border-box;
	width: 250px;
}

.piePagina{
    height: 70px;
}

@media only screen and (min-width: 0px) and (max-width: 768px){
   
    .encabezado{
        width: 100%;
        padding: 10px 0px 10px 10px;
        height: 90px;
        text-align: left;
    }

    #imagenMarca{
        margin-left: 3em;
    }

    .barraNavegacion{
        height: 70px;
    }

    .fotoProv{
       padding-left: 0px;
   }

   .textoPromo{
       margin-left: 2em;
       margin-bottom: 1.5em;
   }

   .textoPromo1, .textoPromo3{
    //    margin-left: 0.5em;
       margin-bottom: 2em;
       padding-left: 35px;
   }

   .textoPromo2{
       margin-left: 2em;
       margin-bottom: 2em;
   }

  

//    .par1{
//     width: 300px;
//     height: 116px;
//    }
   
     // index
    .gridPadre {
		display: $grid; 
		grid-auto-columns: 1fr; 
		grid-template-columns: 100%; 
		grid-template-rows: 50px 90px 60px 1650px 120px; 
		grid-template-areas: 
		"contacto"
		"header" 
		"barraNavegacion"
		"main"
		"piePagina"; 
	}
	
	.contacto{
		grid-area: contacto;
		font-size: 12px;
        letter-spacing: 4px;
	}

	.encabezado{
		grid-area: header;
		width: auto;
		line-height: normal;
		padding: 0px;
	}

	.barraNavegacion{
		grid-area: barraNavegacion;
        padding-left: 1em;
	}	
	
	.mainContainer {
		grid-area: main;
		display: $grid;
		grid-template-columns: 100%;
		grid-template-rows: 0.2fr 0.9fr 0.9fr 0.9fr 0.9fr;
		gap: 0px 0px;
		grid-template-areas:
		"title "
		"promo" 
		"promo1"
		"promo2"
		"promo3";
	}
	
	.tituloContenido {
		grid-area: title;
		justify-content: center;
        margin-top: 10px;
	}
	
	.promo {
		grid-area: promo;
		flex-direction: column;
        overflow-y: hidden;
    }
	
	.promo1 {
		grid-area: promo1;
		flex-direction: column;
        overflow-y: hidden;
	}
	
	.promo2 {
		grid-area: promo2;
		flex-direction: column;
        overflow-y: hidden;
	}
	
	.promo3 {
		grid-area: promo3;
		flex-direction: column;
        overflow-y: hidden;
	}
	
	.piePagina{
		grid-area: piePagina;
		text-align: center;
		font-family: 'Permanent Marker', cursive; /*letra extraida de google fonts*/
		color: white;
		height: 90px;
	}	

    // page paquete
    .gridPaquetes{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 100%; 
        grid-template-rows: 0.1fr 0.1fr 0,1fr 0,5fr 0.2fr; 
        grid-template-areas: 
        "contacto"
        "botonIndex" 
        "nav"
        "main"
        "footer"; 
    }

    .contacto{
        grid-area: contacto;
        font-size: 12px;
    }

    header{
        grid-area: botonIndex;
        width: auto;
        line-height: normal;
        padding: 0px;
    }

    nav{
        grid-area: nav;
    }	

    main{
        grid-area: main;
    }

    .eleccionTramo{
        padding-left: 0px;
    }

    .calafate, .cataratas{
        padding-left: 0px;
    }

    footer{
        grid-area: footer;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Permanent Marker', cursive; /*letra extraida de google fonts*/
        color: white;
    }
}

@media only screen and (min-width: 1024px){
	// index
    .gridPadre{
		display: $grid;
		grid-template-areas:
        "contacto contacto contacto contacto"
        "encabezado barraNavegacion barraNavegacion barraNavegacion"
        "main main main main"
        "footer footer footer footer"; 
		grid-template-rows: 20px 0.1fr 0.9fr 0.1fr; 
		grid-template-columns: repeat(4, 1fr); 
		.barraDer{
            grid-area: contacto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            column-gap: 8px;
        }
        
        .encabezado{
            grid-area: encabezado;
            justify-content: flex-start;
        }
        
        .barraNavegacion{
            grid-area: barraNavegacion;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        
        .mainContainer {
            grid-area: main;
            display: grid;
            grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
            grid-template-rows: 0.3fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
              "title title title title"
              "promo promo promo1 promo1"
              "promo2 promo2 promo3 promo3";
        }
        
        .tituloContenido {
            grid-area: title;
            padding: 20px;
        }
        
        .promo {
            grid-area: promo;
            display: flex;
            flex-direction: row;
            padding-left: 5em;
            padding-top: 1em;
            padding-bottom: 1em;
            box-sizing: border-box;
            font-family: $tituloMain;
	        box-sizing: border-box;
        }
        
        .promo1 {
            grid-area: promo1;
            display: flex;
            flex-direction: row;
            padding: 20px;
            font-family: $tituloMain;
            box-sizing: border-box;
        }
        
        .promo2 {
            grid-area: promo2;
            display: flex;
            flex-direction: row;
            padding-left: 5em;
            padding-top: 1em;
            padding-bottom: 1em;
            font-family: $tituloMain;
            box-sizing: border-box;
        }
        
        .promo3 {
            grid-area: promo3;
            display: flex;
            flex-direction: row;
            padding: 20px;
            font-family: $tituloMain;
            box-sizing: border-box;
        }
        
        .piePagina{
            grid-area: footer;
            text-align: center;
            padding-top: 6px;
            padding-bottom: 6px;
            font-family: $letraPrincipal;
            color: $colorLetra; 
        }
    }

    // page paquete
    .gridPaquete{	
		display: $grid; 
		grid-template-areas: 
		"contacto contacto contacto contacto"
        "encabezado barraNavegacion barraNavegacion barraNavegacion"
        "main main main main"
        "footer footer footer footer";
        grid-template-columns: repeat(4, 1fr); 
		grid-template-rows: 20px 0.9fr 600px 0.6fr;
  	}
	
	.barraDer{
		grid-area: contacto;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		column-gap: 8px;
	}
	
	.encabezado{
		grid-area: encabezado;
		display: flex-start;
	}
	
	.barraNavegacion{
		grid-area: barraNavegacion;
		display: flex;
		justify-content: flex-start;
        flex-direction: row;
	}
	
	.mainPaquete{
		grid-area: main;
		display: grid;
		grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
		grid-template-rows: 0.3fr 1fr 1fr;
		gap: 0px 0px;
		grid-template-areas:
		 "title title title title"
		 "promo promo promo1 promo1"
		 "promo2 promo2 promo3 promo3";
	}
	
	.tituloContenido {
		grid-area: title;
		padding: 20px;
	}
	
	.promo {
		grid-area: promo;
		display: flex;
		flex-direction: row;
		padding-left: 5em;
		padding-top: 1em;
		padding-bottom: 1em;
        font-family: $tituloMain;
        box-sizing: border-box;
	}
	
	.promo1 {
		grid-area: promo1;
		display: flex;
		flex-direction: row;
		padding: 20px;
        font-family: $tituloMain;
        box-sizing: border-box;
	}
	
	.promo2 {
		grid-area: promo2;
		display: flex;
		flex-direction: row;
		padding-left: 5em;
        padding-top: 1em;
        padding-bottom: 1em;
        font-family: $tituloMain;
        box-sizing: border-box;
	}
	
	.promo3 {
		grid-area: promo3;
		display: flex;
		flex-direction: row;
		padding: 20px;
        font-family: $tituloMain;
        box-sizing: border-box;
	}

	.piePagina{
		grid-area: footer;
		text-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
		font-family: $letraPrincipal;
		color: $colorLetra;
	}
}

